@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;

@mixin landing-page-background() {
  /*background-color: $layer-01;
  background-color: $layer-01;*/
  background-color: white;
  position: relative;
}

@mixin landing-page-background1() {
  /*background-color: $layer-01;
  background-color: white;*/
  background-color: white;
  position: relative;
}

@mixin landing-page-background2() {
  /*background-color: $layer-01;
  background-color: white;*/
  background-color: $layer-01;
  position: relative;
}
